@model SalesWebMVC.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd style="text-align: left;">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd style="text-align: left;">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd style="text-align: left;">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>
        <dd style="text-align: left;">
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.Departament)
        </dt>
        <dd style="text-align: left;">
            @Html.DisplayFor(model => model.Departament.Name)
        </dd>
    </dl>

    <form asp-action="Details">
        <input type="hidden" asp-for="Id" />
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

